.itemList-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modal-add {
    background-color: #28a745;
    color: white;
}

.modal-delete {
    background-color: #17a2b8;
    color: white;
}
